body {
  background-color: #ebcf85;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif import!;
	font-style: normal import!;
	font-variant: normal import!;
}

section {
    padding: 50px 0;
}

.subheading {
  padding-bottom: 30px;
}

.profguide {
  padding-bottom: 30px;
}

.profguide-link:hover {
  color: #2e686c;
}

.category-items {
  padding-bottom: 15px;
}

.disk-category {
  cursor: pointer;
}
.disk-category:hover {
    background-color: #2e686c;
    color: white;
}

.back-button {
  cursor: pointer;
}
.back-button:hover {
    background-color: #2e686c;
    color: white;
}

.category-item-base {
  width: 100%;
}

.category-item {
  list-style: none;
  padding: 7px 24px 7px 24px;
  font-weight: 1400;
  cursor: pointer;
}

.category-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.category-item:hover, .category-item:focus, .category-item:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #b0666f;
  background-color: #b0666f;
  color: white;
}

.category-item .glyphicon {
  padding-right: 10px;
}
