.close {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: absolute;
    text-indent: -10000px;
    top: 6px;
    width: 32px;
    z-index: 1;

    -webkit-app-region: no-drag;
}

.close {
    background: transparent url('../img/close-black.png') no-repeat 4px 4px;
    background-size: 24px 24px;
    right: 6px;
}

.profguide {
  padding-bottom: 30px;
}

.category-items {
  padding-bottom: 15px;
}

.disk-category {
  cursor: pointer;
}
.disk-category:hover {
    background-color: rgba(254,209,54,.9);
}

.back-button {
  cursor: pointer;
}
.back-button:hover {
    background-color: rgba(254,209,54,.9);
}

.category-item {
  list-style: none;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 1400;
  cursor: pointer;
}

.category-item {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.category-item:hover, .category-item:focus, .category-item:active {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}

.category-item .glyphicon {
  padding-right: 10px;
}
